.pageTitle h1{
  margin-bottom: 30px;
}
h6{
  color: gray;
}

.linkName{
  width: 500px;
}
.linkUrl{
  width: 500px;
}
.submitBtn{
  width: 100px;
  margin-top: 30px;
  font-size: 20px !important;
  font-weight: 700 !important;
  box-sizing: border-box;
  border-radius: 14px !important;
  border: none;
}
.returnLink{
  margin-bottom: 40px !important;
  text-decoration: none !important;
  color: coral !important;
}
.returnLink:hover{
  text-decoration: coral;
  font-weight: 450;
}
.linkText{
  margin-bottom: 40px;
}
label{
  color: gray;
  font-size: 18px;
  font-weight: 490px;
  margin-bottom: 4px;
}

.toast{
  background-color:#a6c48a;
  opacity: 0.75;
  position: relative;
  margin: auto;
}
.toast:hover{
  background-color: #ffc9b9;
  font-weight: bolder;
}
.toast strong{
  color: rgb(46, 51, 51);
}