.btnArrow{
  width: 40px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  padding: 5px;
}
.mainCard{
  position: relative !important;
}
.cardNameLink{
  box-sizing: border-box;
  max-width:20px;
}
.trash{
  display: none;
  position: absolute;
  margin-left: 400px;
}
.trash button {
 box-sizing: border-box; 
 border: none;
 background-color: #ffffff;
}
.mainCard:hover .trash{ 
  display: flex;
}
.modalHeader{
  background-color: rgb(53, 48, 42);
  color: #fff;
}
.modalBody, .modalFooter{
  background-color: rgb(209, 207, 211);
  justify-content: center;
}